<h1>Admin Dashboard</h1>
<!--
<div class="admin-dashboard">
  <h2>Store Statistics</h2>
  <ul>
    <li>Total Products: <%= @product_count %></li>
    <li>Total Categories: <%= @category_count %></li>
  </ul>
</div>
-->

<table class="table table-striped">
  <thead class="table-dark">
   <tr>
   <th>#</th>
   <th>Total Products</th>
   <th>Total Categories</th>
   </tr>
  </thead>
  <tbody>
  <tr>
   <td class="">1</td>
   <td class=""><%= @product_count %></td>
   <td class=""><%= @category_count %></td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""><%= link_to "View Products", admin_products_path, class: "btn btn-primary" %></td>
    <td class=""><%= link_to 'View Categories', admin_categories_path, class: "btn btn-prmary" %></td>
  </tr>
  </tbody>
</table>