<section class="orders-show">

  <header class="page-header">
   <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <% @line_items.each do |line_item| %>
    <%= render partial: 'line_item', locals: { line_item: line_item } %>
    <% end %>
  
    <p>
    Order Total: $<%= @order.total_cents / 100.00 %>
  </p>
  <p>
    Your email: <%= @order.email %>
  </p>
  <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
